html {
	font-family: Arial,Verdana;
	font-size: 0.95em;
}
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	color: blue;
}

.grid {
	position: relative;
	.header {}
	.body {
		position: relative;
		height: 250px;
		overflow: scroll;
		&:focus {
			outline: 0;
		}
	}
	.scroller {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		// background: green;
	}
	.virtual {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		overflow-x: visible;
	}

	/* grid row */
	.row {
		display: block;
		display: flex;
		height: 20px;
		line-height: 20px;
		overflow: hidden;

		/* column */
		> * {
			padding: 0 4px;
			display: inline-block;
			flex: 1;
			text-overflow: ellipsis;
			overflow: hidden;
			// width: auto;
			white-space: nowrap;
			border: 1px solid #ccc;
			border-width: 0 1px 1px 0;
		}
	}
}

table {
	width: 400px;
	height: 300px;
	overflow: scroll;
	display: block;
	white-space: nowrap;
	position: relative;
	tbody {
		display: block;
		position: absolute;
	}
}

.row {
	.number {
		text-align: right;
		font-family: monospace;
	}
	.market {
		flex: 0 0 8em;
	}
	.price {
		.number;
		flex: 0 1 5em;
	}
	.enum {
		text-align: center;
	}
	.sku-status {
		.enum;
		flex: 0 1 5em;
	}
}